* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Places the video behind other elements */
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire background */
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    position: relative;
    text-align: center;
    background-color: #FFFFFF; /* White background for wrapper */
    padding: 50px;
    border-radius: 20px;
    box-shadow: 1px 0px 10px 20px rgb(15, 14, 14); /* Dark shadow */
}

.clock { /* Stopwatch circle */
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #FFFFFF; /* White circle */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Center the circle */
    box-shadow: 0px 0px 32px 5px rgba(0, 0, 0, 0.5); /* Dark shadow */
    transition: box-shadow 0.3s ease;
    margin-bottom: 70px; /* Increased gap below the circle */
}

.clock.running {
    box-shadow: 0px 0px 32px 10px rgba(255, 255, 255, 0.5); /* Light shadow when running */
}

.wrapper p {
    font-size: 36px;
}

button {
    background-color: #000000; /* Black background for buttons */
    padding: 12px 40px;
    border: 1px solid #000000; /* Black border */
    border-radius: 28px;
    color: #FFFFFF; /* White text */
    transition: all .2s ease;
    outline: 0;
    font-size: 16px;
    cursor: pointer;
}

button:not(:last-child) {
    margin-right: 20px;
}

button:hover,
button:focus {
    background-color: #FFFFFF; /* White background on hover */
    color: #000000; /* Black text on hover */
    box-shadow: 0px 4px 27px -12px rgba(0, 0, 0, 0.5); /* Dark shadow on hover */
}

.laps {
    margin-top: 20px;
    color: #000000; /* Black color for lap text */
    max-height: 30px;
    overflow-y:auto;
    scroll-behavior: smooth;
}

.laps p {
    margin: 5px 0;
    font-size: 16px;
    color: #000000; /* Black color for lap entries */
}
