@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #6b6be4;
}
.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    position: relative;
    text-align: center;
    background-color: #e2e2ee;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.5);
}
.cloak {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #9c9cf7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    box-shadow: 0px 0px 32px -12px red;
    transition: box-shadow 0.3s ease;
}
.cloak.running {
    box-shadow: 0px 0px 32px 5px green;
}
.wrapper p {
    color: #ffffff;
    font-size: 36px;
}
button {
    background-color: #222242;
    padding: 12px 40px;
    border: 1px solid #A9A9A9;
    border-radius: 28px;
    color: #fff;
    transition: all .2s ease;
    outline: 0;
    font-size: 16px;
    cursor: pointer;
}
button:not(:last-child) {
    margin-right: 20px;
}
button:hover,
button:focus {
    border-color: #F6B400;
    color: #F6B400;
    box-shadow: 0px 4px 27px -12px #F6B400;
}
.laps {
    margin-top: 20px;
    color: white;
    max-height: 150px;
    overflow-y: auto;
}
.laps p {
    margin: 5px 0;
    font-size: 16px;
}
